<div class="jumbotron-fluid p-5 hinter">
  <div class="container">
    <h1 class="display-2 text-white">About JustSpeak</h1>
    <p class="lead display-7 text-white">JustSpeak is a language platform aimed at accelerating your<br/> language journey. It was started by language enthusiasts who<br/> wanted to share what they knew about language learning with<br/> you.</p>
    <hr class="my-3">
    <p class="lead display-7 text-white">JustSpeak was developed and is maintained by DevApps, a <br/> software development team that aims to make people's lives<br/> easy by building apps with passion.</p>

  </div>
</div>
