<div class="jumbotron-fluid p-5 hinter">
  <div class="container">
    <h1 class="display-2 text-white">Hello, There!</h1>
    <p class="lead display-7 text-white">Welcome to JustSpeak - Learn, your go-to platform<br/> for mastering new languages.</p>
    <hr class="my-4">
    <p class="lead display-7 text-white">Join as either a student or a teacher and access quality<br/> language classes, along with a wealth of resources tailored just for you.</p>
    <p class="lead">
      <a class="btn bg-black btn-lg text-white" href="#" role="button">Get started</a>
    </p>
  </div>
</div>
