<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="sidebarMenu">
    <div class="sidebar">
       <a class="navbar-brand" href="/admin-dashboard/adminhome">JustSpeak-Learn</a>
       <div>
        <a  style="margin-top: 3rem;" href="/admin-dashboard/adminhome" class="nav-link">Home</a>
        <a href="/admin-dashboard/adminusermanagement" class="nav-link">User Management</a>
        <a href="/admin-dashboard/queries" class="nav-link">Queries</a>
        <a href="" class="nav-link">Logout</a>
       </div>
    </div>
  </div>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
